<center><p float="center">
  <img src="https://unamglobal.unam.mx/wp-content/uploads/2017/04/escudo.jpg" width="300" height="100"/>
  
</p></center>
<h1><center>Fundamentos de Python</center></h1>
<center>Variables, tipos de datos, estructuras de datos, declaraciones condicionales, bucles, funciones</center>



<b><h2><center>Estudio de caso de Cred-Pay</center></h2></b>

## Definición del problema

### **Contexto comercial**

**Cred-Pay** es una empresa de consultoría que se asocia con bancos y verifica si sus clientes son elegibles para una tarjeta de crédito. Son una startup justo en las raíces de iniciar su negocio. Se han asociado con algunos bancos y actualmente están recopilando datos para solicitudes de tarjetas de crédito.


### **Objetivo**
Lo contrataron a usted como científico de datos para manejar y organizar los datos. Usted es responsable de organizar los datos, para que sean fácilmente accesibles y ayuden a la empresa a predecir si la solicitud puede ser aceptada para una tarjeta de crédito o no. 

#### **Enfoque de la solución**
Usted ha tratado de entender cómo funciona la tarjeta de crédito y qué factores entran en juego. Así pues, usted puede organizar los datos para que la empresa ayude a los bancos a proporcionar tarjetas de crédito a los clientes. Usted ha considerado algunas características relacionadas con las aplicaciones de tarjetas de crédito. Algunas de ellas son: la identificación del cliente, el puntaje de crédito, la edad del cliente, el estado de la deuda y la cantidad de tarjetas de crédito existentes.

Los siguientes son los datos que ha extraído y enumerado. Intentemos convertirlos en datos a los que se pueda acceder fácilmente y podamos obtener algunas ideas a partir de ellos.


| cid | credit_score | age_of_customer | debt_status| no_of_existing_credit_cards|
| --- | --- | --- | --- | --- | 
| cid-0001 | 650 | 25 | in-debt | 3 |
| cid-0002 | 723 | 28 | no debt | 2 |
| cid-0003 | 581 | 38 | no-debt | 4 |
| cid-0004 | 462 | 41 | in-debt | 1 |
| cid-0005 | 773 | 62 | no-debt | 2 |

## 1.0 Organizar datos en un formato apropiado

### 1.1 Almacenamiento de datos de clientes como variables

Comencemos almacenando la información en forma de variables e intentemos trabajar con ellas.

Intentemos crear una variable para almacenar una función **customerid**

In [1]:
cid = 'cid-0001' #  una variable es creada con el nombre cid y un valor es almacenado como cid-0001 en la variable
print('The Customer ID of the first customer is',cid) #para mostrar el valor de la variable o una declaración

The Customer ID of the first customer is cid-0001

Bueno, esto funciona, guardemos otras identificaciones de clientes de la misma manera.

In [2]:
# Creación de múltiples variables para almacenar una identificación de cliente única
cid1 = 'cid-0001'
cid2 = 'cid-0002'
cid3 = 'cid-0003'
cid4 = 'cid-0004'
cid5 = 'cid-0005'

**¿Qué son las Variables?**

>Las variables se utilizan para almacenar cualquier tipo de datos.
* Un nombre de variable debe comenzar con una letra o el carácter de subrayado
* Un nombre de variable no puede comenzar con un número
* Un nombre de variable solo puede contener caracteres alfanuméricos y guiones bajos (A-z, 0-9 y _)
* Los nombres de las variables distinguen entre mayúsculas y minúsculas (edad, Edad y EDAD son tres variables diferentes)

Pero si procedemos de esta manera, tendremos que crear varias variables para almacenar una sola característica **(esta no es una forma ideal de almacenar o acceder a los datos)**

¿Qué pasa si tratamos de almacenar estos datos como una lista?

### 1.2 Organizar y consultar los datos

**¿Qué es una Lista?**
> Una lista en Python es un grupo ordenado de elementos o elementos que se almacenan en una sola variable.

**¿Cómo definimos una lista?**
> Las listas se crean usando corchetes y los elementos están separados por una coma.
```
list_name = [element1, element2,...., element_n]
```

In [3]:
cid = ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'] # los elementos de las listas están separados por comas

## Imprimamos la lista para ver si esto funciona.
print("Customer ID:",cid)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

* Estos funcionan bien y ahora podemos almacenar características similares creando un solo elemento de datos
* Vamos a crear listas para el puntaje de crédito, la edad del cliente, el estado de la deuda y la cantidad de tarjetas de crédito activas que usa un cliente.

In [4]:
credit_score = [650, 723, 581, 462, 773]   # lista para almacenar el puntaje de crédito
age_of_customer = [25, 28, 38, 41, 62]     # lista para almacenar la edad del cliente
debt_status = ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']  # lista para almacenar el estatus de deuda
no_of_existing_credit_cards = [3, 2, 4, 1, 2] # lista para almacenar la cantidad de tarjetas de crédito existentes

In [5]:
#Imprimamos todas las características almacenadas como una lista
print("Customer ID:", cid)
print("Credit Score:", credit_score)
print("Age of Customer:", age_of_customer)
print("Debt Status:", debt_status)
print("Number of existing Credit Cards:", no_of_existing_credit_cards)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']
Credit Score: [650, 723, 581, 462, 773]
Age of Customer: [25, 28, 38, 41, 62]
Debt Status: ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']
Number of existing Credit Cards: [3, 2, 4, 1, 2]

¡Excelente! ahora que se crean las listas, intentemos obtener algunos datos.

Digamos que queremos obtener todos los detalles del cliente cuyo id es "cid-0002"

**¿Cómo se indexan las listas?**
> Los elementos de la lista están ordenados y su indexación comienza desde 0 desde el principio.
Digamos que los elementos almacenados en el índice son a, b, c y d. Entonces el índice será el siguiente.

![index.png]()

In [6]:
## Para obtener los datos de cid-0002 primero necesitamos encontrar el índice del mismo.
pos = cid.index('cid-0002') # index() se utiliza para obtener el índice del valor mencionado.
print(pos)                  # Imprimir el índice de 'cid-0002'

1

In [7]:
## Ahora que conocemos el índice, llamemos al valor almacenado en el índice para todas las listas.
print(cid[pos])
print(credit_score[pos])
print(age_of_customer[pos])
print(debt_status[pos])
print(no_of_existing_credit_cards[pos])

cid-0002
723
28
no-debt
2

Bueno, esto es increíble, podemos obtener los datos de una manera muy organizada.

Acabamos de recibir información de que el estado de la deuda para cid-0001 debe cambiarse ya que el cliente está endeudado ahora. Actualicemos lo mismo en la lista.

In [8]:
#Primero encontremos el índice de cid-0001
pos = cid.index('cid-0001')     #guardando el indice de cid-001 en pos

In [9]:
#Let's assign the updated status
debt_status[pos] = 'in-debt'    #actualizando debt_status para la variable de índice pos

In [10]:
debt_status                     #imprimiendo la lista debt status

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

¡Excelente! Podemos ver que la actualización de datos es fácil de hacer con listas.

### 1.3 Actualización de datos de clientes según condiciones

Recientemente recibimos una actualización de Cred-Pay de que necesitamos actualizar el puntaje de crédito de todos los usuarios. 
El puntaje de crédito se calcula en base a 4 factores,

1. Historial de pagos (impacto alto)
2. Índice de utilización del crédito (impacto alto)
3. Antigüedad del crédito (impacto medio)
4. Cuentas totales (impacto bajo)

Dado que el historial de pagos tiene un gran impacto en el puntaje de crédito, tenemos que actualizar el puntaje en función del historial de pago a tiempo del usuario.

Para esto, primero, tenemos que crear una lista llamada **prec_on_time**, que almacena el porcentaje de pagos a tiempo realizados por el usuario. Si el prec_on_time de un usuario es **superior a 0,7**, entonces tenemos que aumentar su puntuación crediticia en un **2 %**. 

También imprimamos el ID de cliente para aquellos cuyo puntaje de crédito se actualizará. Probemos esto.

In [11]:
# Primero creemos la lista prec_on_time
# Suponga que los siguientes números aleatorios son los porcentajes a tiempo
prec_on_time = [0.62, 0.78, 0.20, 0.32, 0.85]

Ahora, dado que queremos aumentar la puntuación de crédito en un 2 %, primero comprobaremos si el valor de prec_on_time es superior a 0,7. Podemos hacer esto con la ayuda de sentencias condicionales.

**¿Qué son las declaraciones condicionales?**

> Las declaraciones condicionales son una parte importante de la toma de decisiones en Python. Los resultados se generan para la condición satisfecha.

**Declaración condicional If Else**

> La declaración if-else en Python se utiliza para la toma de decisiones. La sintaxis general de una sentencia if-else es:
```
 if (test expression):
    Body of if
 else:
    Body of else
 ```
>Contiene un cuerpo de código que se ejecuta solo cuando la condición dada en la sentencia if es verdadero. Si la condición es falsa, entonces se ejecuta la declaración else opcional que contiene algún código para la condición else.

In [12]:
if prec_on_time[0] > 0.7:                   
    credit_score[0] = round(credit_score[0] * 1.02)   #agregar 2% será igual a 1+0.02 = 1.02
    print('Credit Score updated for cid-0001')
else:
    print('Credit Score is same for cid-0001')

if prec_on_time[1]>0.7:
    credit_score[1] = round(credit_score[1] * 1.02)
    print('Credit Score updated for cid-0002')
else:
    print('Credit Score is same for cid-0002')
    
if prec_on_time[2]>0.7:
    credit_score[2] = round(credit_score[2] * 1.02)
    print('Credit Score updated for cid-0003')
else:
    print('Credit Score is same for cid-0003')
    
if prec_on_time[3]>0.7:
    credit_score[3] = round(credit_score[3] * 1.02)
    print('Credit Score updated for cid-0004')
else:
    print('Credit Score is same for cid-0004')
    
if prec_on_time[4]>0.7:
    credit_score[4] = round(credit_score[4] * 1.02)
    print('Credit Score updated for cid-0005')
else:
    print('Credit Score is same for cid-0005')

Credit Score is same for cid-0001
Credit Score updated for cid-0002
Credit Score is same for cid-0003
Credit Score is same for cid-0004
Credit Score updated for cid-0005

In [13]:
credit_score

[650, 737, 581, 462, 788]

¡Excelente! podemos ver que el puntaje de crédito se actualiza para cid-0002 y cid-0005. Esto funcionó ya que solo teníamos 5 usuarios, pero consumirá mucho tiempo y será repetitivo si tenemos muchos usuarios. Deberíamos encontrar una mejor manera de codificar que nos permita recorrer la lista más fácilmente.

Digamos que tenemos que reducir el puntaje de crédito para aquellos usuarios cuyo prec_on_time es inferior al 40 % en un 2 %.

Para evitar la repetición de código, usaremos declaraciones de bucle

**¿Qué son las declaraciones en bucle?**

> Los bucles se usan en Python para iterar sobre una secuencia.

**¿Cuáles son los diferentes tipos de bucles en Python?**

*   For Loop
*   While Loop

**For Loop** 

La sintaxis del 'bucle for' es:

```
for iterator_var in sequence:
    statements(s)
```
**While Loop**
La sintaxis del 'bucle while' es:
```
while condition:
    statement(s)
```

Usaremos el bucle 'while' en este caso

In [14]:
for i in range(0,5):
    if prec_on_time[i] <0.4:
        credit_score[i] = round(credit_score[i] * .98)   #restar 2% será igual a 1-0.02 = 0.98 
        print('Credit Score updated for',cid[i])
    else: 
        print('Credit Score is same for',cid[i])

Credit Score is same for cid-0001
Credit Score is same for cid-0002
Credit Score updated for cid-0003
Credit Score updated for cid-0004
Credit Score is same for cid-0005

Sorprendente, ahora podemos ejecutar bucles e incluso verificar las condiciones con una cantidad mínima de código.

Intentemos jugar con los datos unas cuantas veces más.

**Averigüemos cuántas personas tienen un puntaje de crédito superior a 700.**

In [15]:
# Inicialice el contador para incrementar el número de clientes
count = 0  

for i in range(0,len(cid)):
    if credit_score[i]>700:
        count +=1 # Incrementar el contador de conteo en 1 cuando el puntaje de crédito es mayor a 700
        
print('Number of people having credit score greater than 700:',count)

Number of people having credit score greater than 700: 2

**¿Podemos verificar cuántas personas tienen más de 2 tarjetas de crédito?**

In [16]:
# Inicialice el contador para incrementar el número de clientes
count = 0

for i in range(0,len(cid)):
     if no_of_existing_credit_cards[i]>2:
        count +=1 # Incrementando el contador de conteo en 1 cuando el número de tarjetas de crédito es mayor a 2
print('Number of people having more than 2 credit cards:',count)

Number of people having more than 2 credit cards: 2

**¿Podemos contar cuántas personas están endeudadas y cuántas no están endeudadas?**

In [17]:
# Inicializar contadores para incrementar los conteos de clientes endeudados y no endeudados
indebt = 0
nodebt = 0

for i in range(0,len(cid)):
    if debt_status[i]=='in-debt':
        indebt+=1   # Incrementar el contador de endeudamiento en 1 cuando el cliente está endeudado
    else:
        nodebt+=1   # Incrementar el contador de nodeudas en 1 cuando el cliente no está endeudado
# Imprimir del número de personas endeudadas y no endeudadas
print('Number of people in debt :',indebt)
print('Number of people with no debt ',nodebt)

Number of people in debt : 2
Number of people with no debt  3

**Vamos intentar imprimir toda la información de cliente cuyo customer id = cid-0002**

In [18]:
for i in range(0,len(cid)):
    if cid[i] == 'cid-0002':
        print('---------------------------------------------------------------------')
        print( 'Customer ID:',cid[i])
        print( 'Credit Score:',credit_score[i])
        print( 'Age of the Customer:',age_of_customer[i])
        print( 'Debt Status:',debt_status[i])
        print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[i])

---------------------------------------------------------------------
Customer ID: cid-0002
Credit Score: 737
Age of the Customer: 28
Debt Status: no-debt
Number of existing Credit Cards: 2

### 1.4 Modo modular de actualización de datos

¡Impresionante! Pero si tenemos que comprobar si hay algún otro usuario, tendremos que volver a escribir el código anterior, que no será una forma ideal de escribir código. 

Deberíamos intentar usar una función.

**¿Qué es una función en Python?**

>En Python, una función es un bloque de instrucciones que realiza una tarea específica.

**¿Por qué usar funciones?**
>Las funciones dividen el programa en partes modulares que se pueden reutilizar más tarde. Las funciones se utilizan para hacer que el programa sea más organizado y manejable.

**¿Cómo creamos una función?**

La sintaxis de la función es:
```
def function_name(parameters):
	statement(s)
  return statement
```
Se usa una declaración de retorno opcional para devolver valor(es) de la función.

**¿Qué son los parámetros en Funciones?**
>Los parámetros son variables a través de las cuales pasamos valores a una función. Los parámetros son opcionales para la definición de funciones.

In [19]:
def customer_info(c_id): # def(keyword) se utiliza para definir una función seguida del nombre de la función y los parámetros
    for i in range(0,len(cid)): # configurando un ciclo 'for' para iterar a través de todas las identificaciones de clientes
        if cid[i] == c_id:
            print('---------------------------------------------------------------------')
            print( 'Customer ID:',cid[i])
            print( 'Credit Score:',credit_score[i])
            print( 'Age of the Customer:',age_of_customer[i])
            print( 'Debt Status:',debt_status[i])
            print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[i])

**Imprima los detalles del cliente cuyo id es 'cid-0001'**

In [20]:
customer_info('cid-0001') # Llamar a la función definida anteriormente

---------------------------------------------------------------------
Customer ID: cid-0001
Credit Score: 650
Age of the Customer: 25
Debt Status: in-debt
Number of existing Credit Cards: 3

**Print the details of Customer whose id is 'cid-0002'**

In [21]:
customer_info('cid-0003')

---------------------------------------------------------------------
Customer ID: cid-0003
Credit Score: 569
Age of the Customer: 38
Debt Status: no-debt
Number of existing Credit Cards: 4

### 1.5 Combinar todos los datos en un solo elemento de datos

¡Asombroso! Ahora podemos obtener datos con un solo comando.

Pero como puede ver, los datos actualmente están segregados en diferentes listas. Solo estamos llamando a todas las listas para obtener los datos. En otras palabras, todas las listas son independientes y estamos obteniendo datos haciendo coincidir el índice. Necesitamos agrupar los datos en una sola estructura.

Intentemos combinarlos en un diccionario.

**¿Qué es un diccionario?**
>Los diccionarios se utilizan para almacenar valores de datos en pares clave:valor.

**¿Qué tiene de especial el diccionario?**
>Los elementos del diccionario están ordenados, se pueden modificar y no permiten duplicados.

**¿Cómo declarar un diccionario?**
>La sintaxis del diccionario es:
> ```
 dictionary = {'key1':value1,'key2':value2,...,'key_n':value_n}
```

In [22]:
# el diccionario se crea con pares: clave y valor
df1 = {
    'cust_id': cid, 
    'cred_score': credit_score, 
    'age': age_of_customer,
    'debt_status':debt_status,
    'curr_cred_cards':no_of_existing_credit_cards
}

In [23]:
df1 # imprimiendo el diccionario

{'cust_id': ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'],
 'cred_score': [650, 737, 569, 453, 788],
 'age': [25, 28, 38, 41, 62],
 'debt_status': ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'],
 'curr_cred_cards': [3, 2, 4, 1, 2]}

**¿Cómo acceder a cualquier valor del diccionario?**
>Se puede acceder a cualquier valor del diccionario llamando al valor clave 
```
dictionary['key']
```

In [24]:
df1['cust_id'] # obtener todos los valores bajo la clave 'cust_id'

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [25]:
df1['cust_id'][2] # para buscar el tercer elemento en la lista 'cust_id'

'cid-0003'

**Obtengamos toda la información del cliente cuyo id es "cid-0004"**
Podemos hacer esto iterando en todas la claves del diccionarip con el indice de una lista fij0. Podemos lograr esto con el método items.

In [26]:
for key, value in df1.items():  # Iterando a través de todas las claves del diccionario, con el índice de valores como constante
    print(key ,value[3])

cust_id cid-0004
cred_score 453
age 41
debt_status in-debt
curr_cred_cards 1

Los diccionarios están funcionando bien para obtener los datos existentes, pero la extracción de datos condicional será difícil de lograr en este caso. 

Si tan solo tuviéramos una mejor manera de organizar los datos donde estarán organizados, sistemáticos y fáciles de realizar todas las operaciones que hicimos anteriormente.

Podemos hacer eso usando algunas bibliotecas que pueden hacer todas estas operaciones con una sola pieza de código. Las bibliotecas en python contienen códigos precompilados que se pueden usar para operaciones definidas. Hacen que la programación de Python sea más simple, ya que no tiene que crear las mismas funciones una y otra vez cuando trabaja en un nuevo proyecto. Estas bibliotecas están fácilmente disponibles y se puede acceder a ellas importando la biblioteca al cuaderno. 

Entonces, en este caso, crearemos un marco de datos, pero para eso, necesitamos importar pandas (una biblioteca utilizada para el análisis y la manipulación de datos)

## 2.0 Obtener datos en una estructura conveniente

**¿Qué es la biblioteca de Pandas?**

Pandas es una biblioteca Python de código abierto que proporciona una herramienta de análisis y manipulación de datos de alto rendimiento utilizando sus poderosas estructuras de datos. Es una estructura de datos rápida, flexible y expresiva diseñada para que trabajar con datos 'numéricos' o 'categóricos' sea fácil e intuitivo. Su objetivo es ser el bloque de construcción fundamental de alto nivel para realizar análisis prácticos de datos del mundo real en Python.

**¿Por qué usamos Pandas?**
- Se utiliza para analizar, limpiar, explorar y manipular datos.

- Pandas nos permite analizar big data y sacar conclusiones.

- Es una biblioteca importante en ciencia de datos para obtener información de los datos.

<img src="https://www.w3resource.com/w3r_images/pandas-data-structure.svg" />

### 2.1 Convertir el diccionario en un marco de datos de pandas

In [27]:
# import se utiliza para llamar a cualquier biblioteca que esté instalada en el sistema
import pandas as pd  # cualquier cosa después de'as' se convertirá en un alias para el nombre de la biblioteca

Vamos a crear un marco de datos a partir del diccionario existente.

In [28]:
# el Dataframe puede ser creado usando la función pd.Dataframe
df = pd.DataFrame(df1)

In [29]:
# Vamos a imprimir el dataframe
df

    cust_id  cred_score  age debt_status  curr_cred_cards
0  cid-0001         650   25     in-debt                3
1  cid-0002         737   28     no-debt                2
2  cid-0003         569   38     no-debt                4
3  cid-0004         453   41     in-debt                1
4  cid-0005         788   62     no-debt                2

¡Excelente! esto se ve mucho mejor y se ve organizado, y junto con este conjunto de datos creado, podemos encontrar mucha información sobre los datos con facilidad.

### 2.2 Acceso y análisis de los datos

In [30]:
# Vamos a imprimir las primeras 3 entradas  
df.head(3) # si no pone ningún valor dentro del paréntesis, imprimirá las primeras 5 entradas de los datos

    cust_id  cred_score  age debt_status  curr_cred_cards
0  cid-0001         650   25     in-debt                3
1  cid-0002         737   28     no-debt                2
2  cid-0003         569   38     no-debt                4

In [31]:
# Vamos a imprimir las últimas 3 entradas   
df.tail(3) # si no pone ningún valor dentro del paréntesis, imprimirá las últimas 5 entradas de los datos

    cust_id  cred_score  age debt_status  curr_cred_cards
2  cid-0003         569   38     no-debt                4
3  cid-0004         453   41     in-debt                1
4  cid-0005         788   62     no-debt                2

Podemos crear un resumen estadístico de los datos con facilidad.

In [32]:
# Vamos a crear un resumen estadístico
df.describe()

       cred_score        age  curr_cred_cards
count    5.000000   5.000000         5.000000
mean   639.400000  38.800000         2.400000
std    133.623725  14.584238         1.140175
min    453.000000  25.000000         1.000000
25%    569.000000  28.000000         2.000000
50%    650.000000  38.000000         2.000000
75%    737.000000  41.000000         3.000000
max    788.000000  62.000000         4.000000

In [33]:
# Para obtener la dimensión de los datos usamos la función shape, que devuelve una tupla con el número de filas y columnas
df.shape

(5, 5)

In [34]:
# Para obtener información sobre la cantidad de columnas, el tipo de datos de las filas y el uso de la memoria, usamos la función de info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cust_id          5 non-null      object
 1   cred_score       5 non-null      int64
 2   age              5 non-null      int64
 3   debt_status      5 non-null      object
 4   curr_cred_cards  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes